default_stages: [pre-commit, manual]
exclude: ^(\.vscode/.*|.*\.svg|LICENSE)$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
  - repo: https://github.com/Mateusz-Grzelinski/actionlint-py
    rev: v1.7.9.24
    hooks:
      - id: actionlint
        additional_dependencies:
          - pyflakes
          - shellcheck-py
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format
